@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Thin.woff2) format(woff2);
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-ThinItalic.woff2) format(woff2);
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Light.woff2) format(woff2);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-LightItalic.woff2) format(woff2);
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Book.woff2) format(woff2);
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-BookItalic.woff2) format(woff2);
	font-weight: 350;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Regular.woff2) format(woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-RegularItalic.woff2) format(woff2);
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Medium.woff2) format(woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-MediumItalic.woff2) format(woff2);
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Semibold.woff2) format(woff2);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-SemiboldItalic.woff2) format(woff2);
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Bold.woff2) format(woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-BoldItalic.woff2) format(woff2);
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Heavy.woff2) format(woff2);
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-HeavyItalic.woff2) format(woff2);
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-Black.woff2) format(woff2);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SN Pro";
	src: url(/fonts/SNPro-BlackItalic.woff2) format(woff2);
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
